@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');
:root {
	--very-dark-blue: hsl(212, 21%, 14%);
	--dark-grayish-blue: hsl(228, 12%, 48%);
	--white: hsl(0, 0%, 100%);
	--dark-cyan: hsl(158, 36%, 37%);
  --cream: hsl(30, 38%, 92%);
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}
body {
	font-size: 14px;
	line-height: 1;
}
.conteiner {
	min-width: 100vw;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--cream);
	padding: 0 15px;
}
.card-box {
	max-width: 600px;
	display: flex;
	border-radius: 10px;
	overflow: hidden;
}
.card-img {
	flex: 0 1 50%;
	position: relative;
	aspect-ratio: 16/9;
}
.card-img img{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	aspect-ratio: 16/9;
}

.card-content {
	flex: 0 1 50%;
	padding: 33px 32px;
	display: flex;
	flex-direction: column;
	row-gap: 25px;
	background-color: var(--white);
}
.card-content__label {
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 5px;
}
.card-content__title {
	font-family: "Fraunces";
	font-size: 32px;
	font-weight: 700;
}
.card-content__text {
	line-height: 1.6;
}
.card-content__text:not(:last-child) {
	margin-bottom: 5px;
}
.card-content__price {
	display: flex;
	align-items: center;
	column-gap: 17px;
}
.card-content__price:not(:last-child) {
	margin-bottom: 5px;
}
.price__actual {
	font-family: "Fraunces";
	color: var(--dark-cyan);
	font-size: 32px;
}
.price__delete {
	text-decoration: line-through;
}
.card-content__btn {
	display: flex;
	align-items: center;
	justify-content: center;
	column-gap: 10px;
	border: none;
	background-color: var(--dark-cyan);
	padding: 15px;
	border-radius: 7px;
	cursor: pointer;
}
.card-content__btn:hover {
	background-color: hsl(158, 45%, 26%);;
}
.btn__icon {
}
.btn__text {
	color: var(--white);
	font-size: 16px;
}
@media(max-width: 625px) {
	.card-box {
		flex-direction: column;
	}
	.card-img {
		flex: 0 1 35%;
		aspect-ratio: 4/3;
	}
	.card-content {
		row-gap: 15px;
	}
}